body, html {
    height: 100%;
    background: #ffffff !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

/* Main */

.form-group label {
    color: #fff;
}

.sublink {
    color: #fff;
    text-decoration: underline;
}

#wrapper {
    height: 100%;
    justify-content: space-between;
}

.mid {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.position-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.fade:not(.show) {
    display: none;
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.my-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.m-top {
    margin-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.navigation {
    margin-top: 20px;
}

.list-item-head {
    margin-bottom: 10px;
}

.mid {
    width: 60%;
    margin: 20px auto;
}

.panel-footer {
    background: #fafafa;
    padding: 20px;
    width: 100%;
}

/* End Main */

/* Login Page */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* End Page */

/* Settings */

.settings {
    padding: 20px;
}

.scene-settings {
    position: fixed;
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.scene-settings form {
    height: fit-content;
    overflow: scroll;
    display: block;
    padding: 0 10px;
}

.cube {
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    cursor: all-scroll;
}

.scene {
    flex: 1 1 auto;
    width: calc(100% - 250px);
    height: calc(100vh - 40px);
    border: 1px solid #fff;
    border-radius: 5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scene>.text {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 20px;
}

.start-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-game button {
    margin-top: 20px;
}

.game-scene {
    width: 100%;
    height: calc(100vh - 150px);
    border: 1px solid #777;
    color: #777;
    position: relative;
    overflow: hidden;
    display: block;
}

.game-scene>.cube {
    position: absolute;
    left: 20px;
    top: 20px;
    position: relative;
}

.question {
    position: absolute;
    left: 0;
    top: -50px;
}

.game-time {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.speed-value {
    color: #fff;
}

.form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none;
}

.answer {
    position: absolute;
    top: 20px;
    left: 20px;
}

.m-table {
    color: #fff;
}

.block-result {
    margin-top: 15px;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.block-result-success {
    color: #fff;
}

.block-result-danger {
    color: #fff;
}

.endgame-container {
    width: 60%;
    height: fit-content;
    margin: 20px auto;
}